* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	width: 100%;
}

.transp {
	background-color:none !important;
	z-index: 999;
	display: flex !important;
	justify-content: space-between !important;
	
	
}

nav {
	width: 100%;
}

nav ul {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

nav ul li a {
	color: black !important;
	font-size: 18px;
}
.aa {
	text-align: center;
	justify-self: center;
	justify-content: center;
}
.button {
	width: 100px;
	background: none;
	border-color: white;
	border-radius: 15px;
}
.button:hover {
	background-color: white;
	font-size: 15px;
}

nav ul li a:hover {
	color: black !important;
	background-color: white;
	border-radius: 12px;
}

/* */

footer {
	width: 100.9%;
	height: auto;
	padding: 50px 0;
	background-color: white;
	overflow: hidden;
	background: rgb(161,185,190); 
	background: linear-gradient(180deg, rgba(161,185,190,1) 0%, rgba(183,192,152,1) 85%);
		font-size: 20px;
	font-family: sans-serif;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.social,
.about,
.cont {
	width: 25%;
}

.btn {
	color: white;
	border-color: white;
}
.btn:hover {
	background-color: white;
	color: black;
}
.btn:active {
	background-color: white;
}


.fa {
	border-radius: 100%;
}

.logo {
	margin-left: 20px;
	width: 170px;
	opacity: 0.7;
}

.para {
	text-align: center;
}

footer p {
	color: black;
}

.containerr {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/**/


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
.card-img-top{
	height: 450px;
	object-fit: cover;
}
.col{
	border-radius: 25px
}

.card-img-top:hover{
cursor: pointer;
 opacity: 1; 
    transform: scale(1.05); 
    transition: 1s; 
	
}
.card-img-top{
	border-radius: 25px
}

.card-title{
	color: #525d4f;
	font-weight:700;
}
.fadii {
	height: 40px;
}

@media screen and (max-width: 991.5px) {
	nav ul {
		text-align: center !important;
	}

	nav .ymeen {
		background: rgb(161,185,190); 
		background: linear-gradient(180deg, rgba(161,185,190,1) 0%, rgba(183,192,152,1) 85%);
				display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	
	}

	nav .ymeen input {
		max-width: 200px;
	}
}

@media screen and (max-width: 700px) {
	.containerr {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.social,
	.cont {
		margin-bottom: 20px;
	}

	.social,
	.about,
	.cont {
		width: 80%;
		padding: 20px;
	}
}

.on{
	margin-top: 30px;
}

.mode {
	float:right;

}

.fa-star{
	color:#ffa600;
}

.change {
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 100%;
	
	
	font-size: 30px;
	
	
	
	
}
.dark{
	background-color: #222;
	color: #222;
}