.df {
	width: 100%;
	display: flex;
	justify-content: center;
}

.or {
	width: 100%;
	background-image: url(back.png);
	height: auto;
	padding: 50px 0;
}
h1{
	color:white;
	margin-top: 10px;
}

.container {
	background-color:rgba(197, 225, 228, 0);
	border:white 1px solid;
	max-width: 800px;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	margin-top: 50px;
}
.container .title {
	margin-top: 50px;
	font-size: 25px;
	font-weight: 700;
	position: relative;
}
.title {
	text-align: center;
}
.check {
	max-width: 20px;
}
.form-floating {
	width: 100%;
}

.registero {
	width: 5px;
	text-shadow: 0 0 30px #d6eaf8, 0 0 30px #fdfefe;
	cursor: pointer;
	background: linear-gradient(#90986b, #f3e5c3, #5d6941);
}

.inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.input {
	margin: 20px 0 12px 0;
	width: calc(100% / 2 - 20px);
}
input {
	cursor: pointer;
	height: 45px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid;
	padding-left: 15px;
	font-size: 15px;
}

.birth {
	text-shadow: 0 0 30px #d6eaf8, 0 0 30px #fdfefe;
	font-weight: 700;
}

input:hover {
	text-shadow: 0 0 30px #5d6d7e, 0 0 30px #85c1e9;
}
.center {
	width: 100%;
	height: auto;
	text-align: center;
}
div a input {
	width: auto;
	height: auto;
}
.sp {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	color:white;
}

.form-label{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
	color:white;
}
.spa {
	font-size: 25px;
	font-weight: 700;
}



.link {
	height: 45px;
	margin: 45px 0;

	justify-content: center;
}
.link input,
.link button1 {
	height: 100%;
	color: white;
	border: none;

	background: linear-gradient(#5d6941, #f3e5c3);
	font-size: 18px;
	font-weight: 700;
	border-radius: 10px;
	text-align: center;
}

.button1 {
	border-radius: 15px;
	color:#525d4f;
	font-size: 30px;
	width: 50%
}
.button1:hover {
	width:50%;
	justify-content: center;
	text-align: center;
	background-color:rgba(183,192,152,0.8);
	color:black;
}
.form-floating {
	margin-bottom: 30px;
}

.age {
	width: 200px;
}
.neewo {
	justify-content: center;
	align-items: center;
}
.mf {
	background: linear-gradient(#5d6941, #f3e5c3);
}
.form-check {
	display: block;
}
label {
	user-select: none;
}
input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	z-index: 10;
	margin: 0 10px 10px 0;
	position: relative;
	color: #ced4da;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	font-weight: bold;
	background-color: #ffffff;
	border: 2px solid #ced4da;
	cursor: pointer;
	transition: all 200ms ease;
}

input[type="radio"]:checked + label {
	color: #495057;
	background-color: #ced4da;
}

input[type="radio"] + label {
	padding: 5px 20px;
	border-radius: 10px;
}
@media screen and (max-width: 600px) {
	.or {
		width: 100%;
	}
	
	.inputs {
		display: flex;
		height: auto;
		overflow: none;
	}
	.input {
		margin: 20px 0 12px 0;
		width: 100%;
	}
	.neewo {
		width: 100%;
	}
}
* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	width: 100%;
}

.transp {
	background-color:rgba(0, 0, 0,0.06) !important;
	position: fixed;
	z-index: 999;
	display: flex !important;
	justify-content: space-between !important;
}

nav {
	width: 100%;
}

nav ul {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

nav ul li a {
	color: white !important;
	font-size: 18px;
}
.aa {
	text-align: center;
	justify-self: center;
	justify-content: center;
}
.button {
	width: 100px;
	background: none;
	border-color: white;
	border-radius: 15px;
}
.button:hover {
	background-color: white;
	font-size: 15px;
}

nav ul li a:hover {
	color: black !important;
	font-size: 17px;
	background-color: white;
	border-radius: 12px;
}

/* */

footer {
	width: 100.9%;
	height: auto;
	padding: 50px 0;
	background-color: white;
	overflow: hidden;
	background: rgb(161,185,190); 
	background: linear-gradient(180deg, rgba(161,185,190,1) 0%, rgba(183,192,152,1) 85%);	font-size: 20px;
	font-family: sans-serif;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.social,
.about,
.cont {
	width: 25%;
}

.btn {
	color: white;
	border-color: white;
}
.btn:hover {
	background-color: white;
	color: black;
}
.btn:active {
	background-color: white;
}

.fa:hover {
	font-size: 40px;
}
.fa {
	border-radius: 100%;
}

.logo {
	margin-left: 20px;
	width: 130px;
	opacity: 0.7;
}

.para {
	text-align: center;
}

footer p {
	color: black;
}

.containerr {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/**/

@media screen and (max-width: 991.5px) {
	nav ul {
		text-align: center !important;
	}

	nav .ymeen {
		background: rgb(161,185,190); 
		background: linear-gradient(180deg, rgba(161,185,190,1) 0%, rgba(183,192,152,1) 85%);
				display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}

	nav .ymeen input {
		max-width: 200px;
	}
}

@media screen and (max-width: 700px) {
	.containerr {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.social,
	.cont {
		margin-bottom: 20px;
	}

	.social,
	.about,
	.cont {
		width: 80%;
		padding: 20px;
	}
}

.fadii {
	height: 30px;
}
